<div class="container-fluid">
    <main>
            
        <section class="card content-card heading-card">
            <p class="card-title">Activate Campaign</p>
        </section>
                
        <div class="card content-card">
            
            <table class="table">
                <thead>
                    <tr style="font-weight: bold">
                        <td>Campaign No</td>
                        <td>Campaign Name</td>
                        <td>Channel Type</td>
                        <td>Segment Name</td>
                        <td>Campaign Object</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="campaign in campaignList">
                        <td>{{campaign.campaign_id}}</td>
                        <td>{{campaign.campaign_name}}</td>
                        <td>{{campaign.channel_type}}</td>
                        <td>{{campaign.segment_name}}</td>
                        <td>{{campaign.campaign_object}}</td>
                        <td>
                            <a href="#" ng-click="editSelectCampaign(campaign)">
                                <i class="material-icons">mode_edit</i>
                            </a>
                            <a href="#">
                                <i class="material-icons" ng-click="deleteSelectCampaign(campaign.campaign_id)">delete_forever</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="goToChangeUrl()">Create New Campaign</button>
        </div>
    </main>
</div>