<div >

<div>
    <button id="setObject" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">1 Set Object</button>
      <span class="glyphicon glyphicon-arrow-right"></span>    
    <button id="setConfigureChanel" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">2 Configure Chanel</button>
      <span class="glyphicon glyphicon-arrow-right"></span>
    <button id="setTargetAudience" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">3 Select Audience</button>      
      <span class="glyphicon glyphicon-arrow-right"></span>
    <button id="setActivateCampaign" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">4 Activate Campaign</button>
</div>

<br>



<div ng-if="campaignSection">
    <div class="panel contain-page">
        <h5>1 Chose Your Campaign Object</h5>
    </div>
    <div class="panel container-height contain-page">
        <div class="row">
            <div class="col-sm-4 ">
              <table class="table">
                <head>
                  <tr>
                    <th>Awarnes</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.awarnes">
                    <td style="cursor: pointer" ng-click="selectCampaign(data.awarnes, data.id)" ng-class="{selected : data.awarnes === campaignObject}">{{data.awarnes}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table">
                <head>
                  <tr>
                    <th>Consdrition</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.consdrition">
                    <td style="cursor: pointer" ng-click="selectCampaign(data.consdrition, data.id)" ng-class="{selected : data.consdrition === campaignObject}">{{data.consdrition}}</td>
                  </tr>
                </tbody>
              </table>
              <label></label>
            </div>
            <div class="col-sm-4">
              <table class="table">
                <head>
                  <tr>
                    <th>Converstion</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.converstion">
                    <td style="cursor: pointer" ng-click="selectCampaign(data.converstion, data.id)" ng-class="{selected : data.converstion === campaignObject}">{{data.converstion}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-xs-offset-3">
            <div class="col-sm-7">
                <h3 class="text-center">{{campaignObject}}</h3>
                <div class="col-sm-6">
                    <label class="pull-right">Campaign Name: </label>
                </div>
                <div class="col-sm-6" style="padding-left: 0px;">
                    <input type="text" name="" class="form-control" ng-model="campaign" placeholder="Give a name your company"><br>
                    <button type="button" class="btn btn-primary pull-left" ng-show="campaignSelectValid && campaign" ng-click="campaignCreate(campaign)">Continue</button>
                    <button type="button" class="btn btn-primary pull-left" ng-hide="campaignSelectValid && campaign">Continue</button>
                </div>
            
            </div>
        </div>
    </div>
</div>
<div  ng-if="campaignChanelSection" ng-init="getCampaignChanel()">
    <div class="panel contain-page">
        <h5>2 Add marketing Channeles to your campaign</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Campaign Channel</h4>
        <!-- <button type="button" class="btn btn-primary pull-right" ng-click="newChanel()">Add Chanel</button> -->
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" ng-click="getChannelType()">Add Channel</button>
        <!--model open add channel-->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Channel</h4>
                </div>
                <div class="modal-body">
                  <select class="form-control" ng-options="channel.channel_type_name as channel.channel_type_name for channel in channelType" 
                        ng-model="channel.channelName" required>
                          <option value="" disabled selected>Select Channel</option>
                        </select>
                  <br>
                  <input type="text" class="form-control" ng-model="channel.accessTocken" placeholder="Access tocken*" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-hide="channel.channelName && channel.accessTocken">Add</button>
                  <button type="button" class="btn btn-primary" ng-show="channel.channelName && channel.accessTocken" data-dismiss="modal" ng-click="addNewChannel(channel.channelName)">Add</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!--model open edit-->
          <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Update Channel</h4>
                </div>
                <div class="modal-body">
                  <select class="form-control" ng-options="channel.channel_type_name as channel.channel_type_name for channel in channelType" 
                        ng-model="channel.channelName" required>
                          <option value="" disabled selected>Select Channel</option>
                        </select>
                  <br>
                  <input type="text" class="form-control" ng-model="channel.accessTocken" placeholder="Access tocken*" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-hide="channel.channelName && channel.accessTocken">Update</button>
                  <button type="button" class="btn btn-primary" ng-show="channel.channelName && channel.accessTocken" data-dismiss="modal" ng-click="addNewChannel(channel)">Update</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <table class="table">
            <thead>
                <tr>
                  <th>Chanel Name</th>
                  <th>Adver Type</th>                
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>KPI</th>
                  <th>Target</th>
                  <th>Bid Min/Max</th>
                  <th>Channel Budget</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Update</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="chenel in campaignChenel">
                  <td><a href="#" ng-click="selectChannel(chenel)">{{chenel.channel_name}}</a></td>
                  <td>{{chenel.adverType}}</td>                  
                  <td>{{chenel.create_date}}</td>
                  <td>{{chenel.update_date}}</td>
                  <td>{{chenel.kpi}}</td>
                  <td>{{chenel.target}}</td>
                  <td>{{chenel.bid_min}}/{{chenel.bid_Max}}</td>
                  <td>{{chenel.channel_Budget}}</td>
                  <td>{{chenel.status}}</td>
                  <td>
                      <!-- <button  ng-click="editCampaignChenel(chenel)">Edit</button> -->
                      <button type="button" data-toggle="modal" ng-click="editSelectChennelId(chenel.channel_id)" data-target="#editModal">Edit</button>
                  </td>
                  <td>
                      <button ng-click="deleteCampaignChenel(chenel)">Delete</button>
                  </td>
              </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-5" style="padding-top: 20px">
            <button type="button" class="btn btn-primary" ng-click="savedCampaignChannel()">Continue</button>
        </div>
    </div>
</div>

<div  ng-if="audienceSegementSection">
    <div class="panel contain-page">
        <h5>3 Select Your Campaign Target Audience</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Saved Audience Segement</h4>
        <button type="button" class="btn btn-primary pull-right" ng-click="newSegementCreate()">Create New Segement</button>
        <table class="table">
            <thead>
                <tr>
                  <th>Segement Name</th>
                  <th>Segement Type</th>
                  <th>Add Spend on Segement</th>
                  <th>Date Segement Created</th>
                  <th>Segement Last Refresh</th>
                  <th>Total Profile Count</th>
                  <th>Segement Status</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="segementData in audienceSegementData">
                  <td>
                      <input type="checkbox" class="custom-control-input" ng-click="selectAudienceSeg(segementData.seg_id, segementData.segement_name)">{{segementData.segement_name}}
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>{{segementData.create_date}}</td>
                  <td>{{segementData.update_date}}</td>
                  <td>-</td>
                  <td>{{segementData.status}}</td>
                  <td>
                      <button ng-click="editAudienceSegement(segementData)">Edit</button>
                  </td>
                  <td>
                      <button ng-click="deleteAudienceSegement(segementData)">Delete</button>
                  </td>
              </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-5" style="padding-top: 20px">            
            <button type="button" class="btn btn-primary" ng-click="savedAudienceSegement()">Continue</button>
        </div>
    </div>
</div>

<div ng-if="newSegementCreateForm">
  <div class="panel panel-heading" ng-init="getCustomSegmentsFields()">
        <h5>Create New Segement</h5>
    </div>
    <br>
        <div class="panel container-height contain-page">

            <div class="col-sm-4">              
                <h5>Available Audience Dashboard</h5>
                <hr>
                <ul style="list-style-type:none">
                    <li><a href="#" ng-click="getCustomFormFieldsData('Demographics')">{{customFormFields[0].custom_segments_field}}</a></li>
                    <hr>
                    <li><a href="#" ng-click="getCustomFormFieldsData('Technology')">{{customFormFields[1].custom_segments_field}}</a></li>
                    <hr>
                    <li><a href="#" ng-click="getCustomFormFieldsData('Location sidebar')">{{customFormFields[2].custom_segments_field}}</a></li>
                    <hr>
                    <li ng-if="advanceActive"><a href="#" ng-click="getCustomFormFieldsData('Create New Channel')">{{customFormFields[3].custom_segments_field}}</a></li>

                </ul>
               <!--  <table class="table">
                  <tbody>
                    <tr>
                      <td><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[0].custom_segments_field}}</a></td>
                      <br>
                      <td><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[1].custom_segments_field}}</a></td>
                      <br>
                      <td><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[2].custom_segments_field}}</a></td>
                      <br>
                      <td ng-if="advanceActive"><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[3].custom_segments_field}}</a></td>
                    </tr>
                  </tbody>
                </table> -->
            </div>
       
        <div class="col-sm-8">
            <div ng-show="demographic">            
              <h5>Total Targetable Available</h5>
                <hr>
                <label>Segement Name</label>
                <input type="text" class="form-control" ng-model="channel.segementName" placeholder="Enter Segement Name">
                <label>Segement Type</label>
                <input type="text" class="form-control" ng-model="channel.segementType" placeholder="Enter Segement Type">
                <br>
                <label>Age</label>
                <input type="radio" ng-model="channel.age" ng-value="customSegementForm.ageGroup[0].age_id" name="radio1" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[0].age}}
                 <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[1].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[1].age}}
                  <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[2].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[2].age}}
                   <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[3].age_id" ng-model="channel.age" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[3].age}}
                    <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[4].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[4].age}}
                     <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[5].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[5].age}}
                      <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[6].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[6].age}}
                <br>
                <label>Gender</label>
                <input type="radio" name="radio2" ng-model="channel.gender" ng-value="customSegementForm.gender[0].gender_id" id="customSegementForm.gender[2].gender_id">{{customSegementForm.gender[0].gender}}
                 <input type="radio" name="radio2" ng-model="channel.gender" ng-value="customSegementForm.gender[1].gender_id" id="customSegementForm.gender[2].gender_id">{{customSegementForm.gender[1].gender}}
                  <input type="radio" name="radio2" ng-model="channel.gender" ng-value="customSegementForm.gender[2].gender_id" id="customSegementForm.gender[2].gender_id">{{customSegementForm.gender[2].gender}}
                <br>
                <label>Language</label>                
                <select class="form-control" ng-options="lang as lang.language for lang in customSegementForm.language" ng-model="language">
                   <option value="" disabled selected>Select Language</option>
                </select>
                <br>
                <label>Affinity Category</label>
                <select class="form-control">
                  <option>Select</option>
                  <!-- <option ng-repeat="lang in customSegementForm.language">{{lang.language}}</option> -->
                </select>
                <br>
                <label>Loaction</label>
                <select class="form-control">
                  <option>Select</option>
                  <!-- <option ng-repeat="lang in customSegementForm.language">{{lang.language}}</option> -->
                </select>
            </div>        

            <div ng-show="technology">
              <label>Technology</label>
              <hr>
              <input type="text" class="form-control" name="" ng-model="channel.operatingSystem" placeholder="Operating System">
              <br>
              <input type="text" name="" ng-model="channel.operatingSystemVersion" class="form-control" placeholder="Operating System Version">
              <br>
              <input type="text" name="" class="form-control" ng-model="channel.browser" placeholder="Browser">
              <br>
              <input type="text" name="" class="form-control"  ng-model="channel.browserVersion" placeholder="Browser Version">
              <br>
              <input type="text" name="" class="form-control"  ng-model="channel.resoluton" placeholder="Screen Resoluton">
              <br>
                <label>Device Type</label>
                <select class="form-control">
                    <option>Select Device</option>
                    <option ng-repeat="deviceType in technologyData">{{deviceType.device_type}}</option>
                </select>
                <br>
                <label>Devioce Model</label>
                <select class="form-control">
                    <option>Select Device</option>
                    <option ng-repeat="model in technologyData.deviceMode">{{model.device_brand_name}}</option>
                </select>
            </div>

            <div ng-if="loaction">
              <label>loaction</label>
              <hr>
                <label>Country</label>
                <select class="form-control" ng-options="county.country_codes as county.country_names for county in countyData" 
                        ng-model="channel.county" ng-change="getState(channel.county)">
                          <option value="" disabled selected>Select Country</option>
                        </select>
                <br>
                <label>State</label>
                <select class="form-control" ng-options="state.state_code as state.state_names for state in stateData" 
                        ng-model="channel.state" ng-change="getCity(channel.state)">
                           <option value="" disabled selected>Select State</option>
                        </select>
                <br>
                <label>City</label>
                <select class="form-control" ng-options="city as city.city_names for city in cityData" ng-model="channel.city" ng-change="getZipCode(city)">
                   <option value="" disabled selected>Select City</option>
                </select>
                <br>
                <label>Zip Code</label>
                <!-- <select class="form-control" ng-options="zipCode as zipCode.zipCode_names for zipCode in zipCodeData" ng-model="zipCode">
                   <option value="" disabled selected>Select Zip Code</option>
                </select> -->
                <input type="text" class="form-control" ng-model="channel.zipCode">
            </div>

            <!-- <div ng-show="newChanele">
                <h4>Compaign Chanel</h4>
                <hr>
                <script type="text/javascript">
                    $(function() {
                         $('#daterange').daterangepicker();
                    });
                </script>
                <div>                      
                    <form>
                        <label>Channel Name</label>
                        <input type="text" class="form-control" ng-model="channel.channelName">

                        <label>Adver Type</label>
                        <input type="text" class="form-control" ng-model="channel.adverType">

                        <label>Date Select</label>
                        <input type="text" id="startDateId"  class="form-control" ng-model="channel.startDate">

                        <label>End Date</label>
                        <input type="text" id="endDateId" class="form-control" ng-model="channel.endDate">
                        <input type="text" class="form-control" name="startDate" id="daterange" />

                        <label>KPI</label>
                        <input type="text" class="form-control" ng-model="channel.kpi">

                        <label>Target</label>
                        <input type="text" class="form-control" ng-model="channel.target">

                        <label>Bid Min/Max</label>
                        <input type="text" class="form-control" ng-model="channel.bidMinMax">

                        <label>Channel Budget</label>
                        <input type="text" class="form-control" ng-model="channel.channelBudget">

                        <label>Channel Status</label>
                        <select class="form-control" ng-model="channel.channelStatus">
                           <option>Active</option>
                           <option>Rejected</option>
                           <option>Paused</option>
                        </select>
                    </form>
                </div>
            </div> -->
        </div>
        <hr>
          <div>
              
              <!-- <button class="btn btn-primary" type="button" ng-click="savedAudience()">Save Audience</button>  -->
              <div class="col-xs-offset-5" style="padding-top: 20px">
                    <button class="btn btn-default" type="button" ng-click="audienceCancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="createNewCampaignChanel(channel)">Continue</button>
                </div>
          </div>
     </div>        
</div>

<div ng-if="reviewAndActiveCampaign" ng-init="finalCampaignList()">
    <div class="panel contain-page">
        <h5>Review and Active Campaign</h5>
    </div>
    <div class="col-sm-6 panel container-height contain-page">
          <div class="panel-heading">
              <h5 class="pull-left">Campaign Object</h5>
              <button class="btn btn-primary pull-right glyphicon glyphicon-edit" ng-click="editClick('Campaign')"></button>
          </div>
          <br>
          <hr>
          Campaign Name
          <input type="text" ng-model="channelData.campaignName">
          <br>
          Campaign Object
          <input type="text" ng-model="channelData.campaignObject">

          <br>
          <div class="panel-heading">
              <h5 class="pull-left">Audience Segement</h5>
            <button class="btn btn-primary pull-right glyphicon glyphicon-edit" ng-click="editClick('Audience')"></button>
          </div>
          <br>
          <hr>

          Selected Segement
          <input type="text" ng-model="channelData.segementName">
          <br>
          Estimated Audience
          <input type="text" ng-model="channelData.audienceName">

          <br>
          <div class="panel-heading">
              <h5 class="pull-left">Channel</h5>
              <button class="btn btn-primary pull-right glyphicon glyphicon-edit" ng-click="editClick('Channel')"></button>
          </div>
          <br>
          <hr>
          <table class="table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>KPI</th>
                      <th>Target</th>
                      <th>Channel Budget</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{channelData.channel.channel_name}}</td>
                      <td>{{channelData.channel.kpi}}</td>
                      <td>{{channelData.channel.target}}</td>
                      <td>{{channelData.channel.channel_Budget}}</td>
                  </tr>
              </tbody>
          </table>
    </div>
    <div class="col-sm-6 panel container-height contain-page">

    </div>
    <div class="panel contain-page">
      <br>
        <button type="button" class="btn btn-default" ng-click="createNewCompaign()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="activeCamapign()">Active</button>
    </div>
</div>

<div  ng-if="campaignActivate">
    <div class="panel contain-page">
        <h5>Campaign Activated</h5>
    </div>
    <br>
    <div class="panel container-height contain-page">
        <div class="col-xs-offset-5">
            <h3>Congratulation</h3>
            <button type="button" class="btn btn-primary" ng-click="backToDashboard()">Back to Dashboard</button>
                <button type="button" class="btn btn-default" ng-click="createNewCompaign()">Create New Campaign</button>
        </div>
    </div>
</div>

</div>


