<div >
<div>
    <button id="setObject" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">1 Set Object</button>
      <span class="glyphicon glyphicon-arrow-right"></span>    
    <button id="setConfigureChanel" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">2 Configure Chanel</button>
      <span class="glyphicon glyphicon-arrow-right"></span>
    <button id="setTargetAudience" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">3 Select Audience</button>      
      <span class="glyphicon glyphicon-arrow-right"></span>
    <button id="setActivateCampaign" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">4 Activate Campaign</button>
</div>

<br>
<div ng-if="campaignSection" ng-init="getCategories()">
    <div class="panel contain-page">
        <h5>1 Chose Your Campaign Object</h5>
    </div>
    <div class="panel container-height contain-page">
        <div class="row">
            <div class="col-sm-4 ">
              <table class="table">
                <head>
                  <tr>
                    <th>Awarnes</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.awarnes">
                    <td style="cursor: pointer" ng-click="selectCampaign(data.awarnes)" ng-class="{selected : data.awarnes === campaignName}">{{data.awarnes}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table">
                <head>
                  <tr>
                    <th>Consdrition</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.consdrition">
                    <td style="cursor: pointer" ng-click="selectCampaign(data.consdrition)" ng-class="{selected : data.consdrition === campaignName}">{{data.consdrition}}</td>
                  </tr>
                </tbody>
              </table>
              <label></label>
            </div>
            <div class="col-sm-4">
              <table class="table">
                <head>
                  <tr>
                    <th>Converstion</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.converstion">
                    <td style="cursor: pointer" ng-click="selectCampaign(data.converstion)" ng-class="{selected : data.converstion === campaignName}">{{data.converstion}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-xs-offset-3">
            <div class="col-sm-7">
                <h3 class="text-center">{{campaignName}}</h3>
                <div class="col-sm-6">
                    <label class="pull-right">Campaign Name: </label>
                </div>
                <div class="col-sm-6" style="padding-left: 0px;">
                    <input type="text" name="" class="form-control" ng-model="campaign" placeholder="Give a name your company"><br>
                    <button type="button" class="btn btn-primary pull-left" ng-show="campaignSelectValid && campaign" ng-click="campaignCreate()">Continue</button>
                    <button type="button" class="btn btn-primary pull-left" ng-hide="campaignSelectValid && campaign">Continue</button>
                </div>
            
            </div>
        </div>
    </div>
</div>
<div  ng-if="campaignChanelSection" ng-init="getCampaignChanel()">
    <div class="panel contain-page">
        <h5>2 Add marketing Chaneles to your campaign</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Campaign Chanel</h4>
        <button type="button" class="btn btn-primary pull-right" ng-click="newChanel()">Add Chanel</button>
        <table class="table">
            <thead>
                <tr>
                  <th>Chanel Name</th>                 
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Update</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="chenel in campaignChenel">
                  <td><a href="#" ng-click="selectChanel(chenel.channel_id)">{{chenel.channel_name}}</a></td>
                  <td>{{chenel.create_date}}</td>
                  <td>{{chenel.update_date}}</td>
                  <td>{{chenel.status}}</td>
                  <td>
                      <button ng-click="editCampaignChenel(chenel)">Edit</button>
                  </td>
                  <td>
                      <button ng-click="deleteCampaignChenel(chenel)">Delete</button>
                  </td>
              </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-5" style="padding-top: 20px">
            <button type="button" class="btn btn-primary" ng-click="savedCampaignChanel()">Continue</button>
        </div>
    </div>
</div>

<div  ng-if="audienceSegementSection">
    <div class="panel contain-page">
        <h5>3 Select Your Campaign Target Audience</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Saved Audience Segement</h4>
        <button type="button" class="btn btn-primary pull-right" ng-click="newSegementCreate()">Create New Segement</button>
        <table class="table">
            <thead>
                <tr>
                  <th>Segement Name</th>
                  <th>Segement Type</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="segementData in audienceSegementData">
                <td>
                    <input type="checkbox" class="custom-control-input">  {{segementData.segement_name}}
                </td>
                <td>{{segementData.segment_form_data}}</td>
                <td>
                    <button ng-click="editAudienceSegement(segementData)">Edit</button>
                </td>
                <td>
                    <button ng-click="deleteAudienceSegement(segementData)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-5" style="padding-top: 20px">
            <button type="button" class="btn btn-primary" ng-click="savedAudienceSegement()">Continue</button>
        </div>
    </div>
</div>

<div ng-if="newSegementCreateForm">
  <div class="panel panel-heading" ng-init="getCustomSegmentsFields()">
        <h5>Create New Segement</h5>
    </div>
    <br>
        <div class="panel container-height contain-page">

            <div class="col-sm-4">
              <input type="text" ng-model="channel.segementName" placeholder="Enter Segement Name">
                <h5>Available Audience Dashboard</h5>
                <hr>
                <ul style="list-style-type:none">
                    <li><a href="#" ng-click="getCustomFormFieldsData('Demographics')">{{customFormFields[0].custom_segments_field}}</a></li>
                    <hr>
                    <li><a href="#" ng-click="getCustomFormFieldsData('Technology')">{{customFormFields[1].custom_segments_field}}</a></li>
                    <hr>
                    <li><a href="#" ng-click="getCustomFormFieldsData('Location sidebar')">{{customFormFields[2].custom_segments_field}}</a></li>
                    <hr>
                    <li ng-if="advanceActive"><a href="#" ng-click="getCustomFormFieldsData('Create New Channel')">{{customFormFields[3].custom_segments_field}}</a></li>

                </ul>
               <!--  <table class="table">
                  <tbody>
                    <tr>
                      <td><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[0].custom_segments_field}}</a></td>
                      <br>
                      <td><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[1].custom_segments_field}}</a></td>
                      <br>
                      <td><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[2].custom_segments_field}}</a></td>
                      <br>
                      <td ng-if="advanceActive"><a href="#" ng-click="getCustomFormFieldsData(customField.custom_segments_field)">{{customFormFields[3].custom_segments_field}}</a></td>
                    </tr>
                  </tbody>
                </table> -->
            </div>
       
        <div class="col-sm-8">
            <div ng-show="demographic">            
              <h5>Total Targetable Available</h5>
                <hr>
                <label>Age</label>
                <input type="radio" ng-model="channel.age" ng-value="customSegementForm.ageGroup[0].age_id" name="radio1" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[0].age}}
                 <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[1].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[1].age}}
                  <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[2].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[2].age}}
                   <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[3].age_id" ng-model="channel.age" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[3].age}}
                    <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[4].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[4].age}}
                     <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[5].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[5].age}}
                      <input type="radio" name="radio1" ng-model="channel.age" ng-value="customSegementForm.ageGroup[6].age_id" id="customSegementForm.ageGroup[0].age_id">{{customSegementForm.ageGroup[6].age}}
                <br>
                <label>Gender</label>
                <input type="radio" name="radio2" ng-model="channel.gender" ng-value="customSegementForm.gender[0].gender_id" id="customSegementForm.gender[2].gender_id">{{customSegementForm.gender[0].gender}}
                 <input type="radio" name="radio2" ng-model="channel.gender" ng-value="customSegementForm.gender[1].gender_id" id="customSegementForm.gender[2].gender_id">{{customSegementForm.gender[1].gender}}
                  <input type="radio" name="radio2" ng-model="channel.gender" ng-value="customSegementForm.gender[2].gender_id" id="customSegementForm.gender[2].gender_id">{{customSegementForm.gender[2].gender}}
                <br>
                <label>Language</label>                
                <select class="form-control" ng-options="lang as lang.language for lang in customSegementForm.language" ng-model="language">
                   <option value="" disabled selected>Select Language</option>
                </select>
                <br>
                <label>Category</label>
                <select class="form-control">
                  <option>Select</option>
                  <!-- <option ng-repeat="lang in customSegementForm.language">{{lang.language}}</option> -->
                </select>
                <br>
                <label>Loaction</label>
                <select class="form-control">
                  <option>Select</option>
                  <!-- <option ng-repeat="lang in customSegementForm.language">{{lang.language}}</option> -->
                </select>
            </div>        

            <div ng-show="technology">
              <label>Technology</label>
              <hr>
              <input type="text" class="form-control" name="" ng-model="channel.operatingSystem" placeholder="Operating System">
              <br>
              <input type="text" name="" ng-model="channel.operatingSystemVersion" class="form-control" placeholder="Operating System Version">
              <br>
              <input type="text" name="" class="form-control" ng-model="channel.browser" placeholder="Browser">
              <br>
              <input type="text" name="" class="form-control"  ng-model="channel.browserVersion" placeholder="Browser Version">
              <br>
              <input type="text" name="" class="form-control"  ng-model="channel.resoluton" placeholder="Screen Resoluton">
              <br>
                <label>Devioce Type</label>
                <select class="form-control">
                    <option>Select Device</option>
                    <option ng-repeat="deviceType in technologyData.deviceType">{{deviceType.device_type}}</option>
                </select>
                <br>
                <label>Devioce Model</label>
                <select class="form-control">
                    <option>Select Device</option>
                    <option ng-repeat="model in technologyData.deviceMode">{{model.device_brand_name}}</option>
                </select>
            </div>

            <div ng-if="loaction">
              <label>loaction</label>
              <hr>
                <label>Country</label>
                <select class="form-control" ng-options="county.country_codes as county.country_names for county in countyData" 
                        ng-model="county" ng-change="getState(county)">
                          <option value="" disabled selected>Select Country</option>
                        </select>
                <br>
                <label>State</label>
                <select class="form-control" ng-options="state.state_code as state.state_names for state in stateData" 
                        ng-model="state" ng-change="getCity(state)">
                           <option value="" disabled selected>Select State</option>
                        </select>
                <br>
                <label>City</label>
                <select class="form-control" ng-options="city as city.city_names for city in cityData" ng-model="city" ng-change="getZipCode(city)">
                   <option value="" disabled selected>Select City</option>
                </select>
                <br>
                <label>Zip Code</label>
                <select class="form-control" ng-options="zipCode as zipCode.zipCode_names for zipCode in zipCodeData" ng-model="zipCode">
                   <option value="" disabled selected>Select Zip Code</option>
                </select>
            </div>

            <div ng-show="newChanele">
              <h4>Compaign Chanel</h4>
              <hr>
                  <!-- <div class="panel contain-page">
                      <h5>2 Add marketing Chaneles to your campaign</h5>
                  </div>
                  <br> -->
                  <div>                      
                        <form>
                            <label>Adver Type</label>
                            <input type="text" class="form-control" ng-model="channel.adverType">

                            <label>Start Date</label>
                            <input type="text" id="startDateId"  class="form-control" ng-model="channel.startDate">

                            <label>End Date</label>
                            <input type="text" id="endDateId" class="form-control" ng-model="channel.endDate">

                            <label>KPI</label>
                            <input type="text" class="form-control" ng-model="channel.KPI">

                            <label>Target</label>
                            <input type="text" class="form-control" ng-model="channel.target">

                            <label>Bid Min/Max</label>
                            <input type="text" class="form-control" ng-model="channel.bidMinMax">

                            <label>Channel Budget</label>
                            <input type="text" class="form-control" ng-model="channel.channelBudget">

                            <label>Channel Status</label>
                            
                        </form>                      
                      
                  </div>
            </div>
        </div>
        <hr>
          <div>
              
              <!-- <button class="btn btn-primary" type="button" ng-click="savedAudience()">Save Audience</button>  -->
              <div class="col-xs-offset-5" style="padding-top: 20px">
                    <button class="btn btn-default" type="button" ng-click="audienceCancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="createNewCampaignChanel(channel)">Continue</button>
                </div>
          </div>
     </div>
        
</div>
</div>
      <div  ng-if="campaignActivate">
          <div class="panel contain-page">
              <h5>Campaign Activated</h5>
          </div>
          <br>
          <div class="panel container-height contain-page">
              <div class="col-xs-offset-5">
                  <h3>Congratulation</h3>
                  <button type="button" class="btn btn-primary" ng-click="backToDashboard()">Back to Dashboard</button>
                      <button type="button" class="btn btn-default" ng-click="createNewCompaign()">Create New Campaign</button>
              </div>
          </div>
      </div>
</div>


<!-- <input type="text"  id="kkd" /> 
<script type="text/javascript">
$(function() {
  $('#kkd').daterangepicker({
                singleDatePicker: true,
        showDropdowns: true
            });
});
</script> -->