<div class="">
    <div class="row">
        <div class="col-md-5">
            <h4 class="title-content">
                {{cardcampaignProgres}}
            </h4>
            <div class="media-left col-md-6 no-padding">
                <p class="text-center">{{cardTitleCampaignFunnel}}</p>
                <nvd3 options="costVsBudgetData.chartOptions" data="costVsBudgetData.chartData"></nvd3>
                <label class="text-center" style="font-size: 25px;">{{costVsBudgetData.data[0].cost | number}}</label>
                <p class="text-center">Campaign Budget</p>
                <p class="text-center">INR 500,000</p>
            </div>
            <div class="media-right col-md-6 no-padding">
                <p class="text-center">Duration vs Schedule</p>
                <nvd3 options="campaignDurationData.chartOptions" data="campaignDurationData.chartData"></nvd3>
                <label class="text-center" style="font-size: 25px; margin-left: 50px;">9 days</label>
                <p class="text-center">Campaign Shedulr</p>
                <p class="text-center">30 Days</p>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div class="">
                    <h4 class="title-content" style="white-space: nowrap;">{{cardcampaignFunnel}}
                    </h4>
                </div>
                <div class="">
                    <ul class="list-group" style="list-style-type: none;">
                        <label>impressions</label>
                        <li>
                            {{bulletChartData[0].impressions}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].impressions}}%">
                                <div class="progress" >
                                    <div class="progress-bar" style="width:{{bulletChartData[0].impressions}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <label>Reach</label>
                        <li>
                            {{bulletChartData[0].reach}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].reach}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].reach}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <label>Actions</label>
                        <li>
                            {{bulletChartData[0].clicks}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].clicks}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].clicks}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <label>Conversions</label>
                        <li>
                            {{bulletChartData[0].conversions}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].conversions}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].conversions}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="">
                    <h4 class="title-content">{{cardcostFunnel}}
                    </h4>
                </div>
                <div class="">
                     <ul class="table" style="list-style-type: none;">
                        <label>CPM</label>
                        <li>
                            {{bulletChartData[0].cpm}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].cpm}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].cpm}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <label>Cost per Reach</label>
                        <li>
                            {{bulletChartData[0].cpp}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].cpp}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].cpp}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <label>Cost per Actions</label>
                        <li>
                            {{bulletChartData[0].clicks}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].clicks}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].clicks}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <label>Cost per Conversion</label>
                        <li>
                            {{bulletChartData[0].cpconversion}}
                            <div class="pull-right" style="width: 100px;" data-tooltip="{{bulletChartData[0].cpconversion}}%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{bulletChartData[0].cpconversion}}%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>