<div class="">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-bold title-border-bottom card-heading">
                Campaign KPI
            </h5>
            <div class="text-center">
                <p>Current Reach</p>
                <label style="font-size: 35px;">{{bulletChartData[0].reach | number}}</label>
                <p>+15% VS Previous Average Reach</p>
                <p>Traget Reach 3,700,685</p>
            </div>
            <div>
                <cr-bullet-chart></cr-bullet-chart>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel-heading">
                <h5 class="text-bold title-border-bottom card-heading">Campaign performance Funnel
                </h5>
            </div>
            <div class="">
                <cr-duration-on-value-axis-chart></cr-duration-on-value-axis-chart>
            </div>
        </div>
    </div>
    
</div>