<div class="">
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th>{{channelAndCampaignColumn1}}</th>
                <th>{{channelAndCampaignColumn2}}</th>
                <th>{{channelAndCampaignColumn3}}</th>
                <th>{{channelAndCampaignColumn4}}</th>
                <th>{{channelAndCampaignColumn5}}</th>
                <th>{{channelAndCampaignColumn6}}</th>
                <th ng-if="channelAndCampaignColumn7 != ''">{{channelAndCampaignColumn7}}</th>
                <th>{{channelAndCampaignColumn8}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="channel in channelData">
                <td>{{channel.channel}}</td>
                <td>{{channel.impressions}}</td>
                <td>-</td>
                <td>{{channel.conversions}}</td>
                <td>-</td>
                <td>{{channel.cpm}}</td>
                <td ng-if="channelAndCampaignColumn7 != ''">{{channel.cpconversion}}</td>
                <td>-</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>