<div>
    <div class="row">
        <div class="col-md-6">
            <div id="geo-location" style="margin-left: 0px;">
                <h4 class="title-content">Loaction</h4>
                <table class="table datatable-fixed-left" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            <th class="table-card-heading">{{loactionType}}</th>
                            <th class="table-card-heading">Reach</th>
                            <th class="table-card-heading">Conversion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <div ng-if="cityData != 0">
                        <tbody>
                            <tr ng-repeat="city in cityData">
                                <td class="text-left  capitalize-text" style="cursor: pointer;">{{city.loaction_type}}</td>
                                <td class="text-bold">{{city.reach }}</td>
                                <td class="text-bold">{{city.conversions}}</td>
                                <td style="width: 100px;">
                                    <div class="progress" data-toggle="tooltip" data-placement="top" tooltip="{{city.reach}}%">
                                        <div class="progress-bar" style="width:{{city.reach}}%">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </table>
                <div ng-if="cityData == 0" ng-repeat="message in cityData.messageStatus">
                    <p class="text-center" style="color: #64c1ac; margin-top: 200px; font-size: 20px;">{{message}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="mapview">
                <h4 class="title-content"><span ng-click="goToOtherPages('audienceGeography')" style="cursor: pointer;">Map</span></h4>
                <!-- <cr-analytic-countries-map ng-show="loactionType == 'Countries'"></cr-analytic-countries-map>
                <cr-analytic-state-map ng-show="loactionType == 'States'"></cr-analytic-state-map> -->
                <cr-analytic-city-map ng-show="loactionType == 'City'"></cr-analytic-city-map>
                </div>
            </div>
        </div>
    </div>