<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
    <head>
        <base href="/">
    <!--     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test Demo</title>
        <link rel="icon" type="image/png" href="http://eg.com/favicon.png"/>
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="scripts/css/custom.css" rel="stylesheet"> -->
        <!-- <link href="scripts/css/custom.css" rel="stylesheet"> -->
         <link rel="icon" type="image/png" href="http://eg.com/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="scripts/css/daterangepicker.css" />

        <meta charset="utf-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->
        <title>Campaign</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="scripts/vendors/css/bootstrap.min.css" rel="stylesheet" />
        <link href="scripts/vendors/css/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="scripts/css/customs.css" rel="stylesheet" />
        <link href="scripts/vendors/css/font-awesome.min.css" rel="stylesheet">
        <link href='scripts/vendors/css/material-icons.css' rel='stylesheet' type='text/css'>
        
        <!--alert section -->
        <script src="scripts/sweetalert/js/sweetalert2.all.min.js"></script>        
        <script src="scripts/sweetalert/js/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="scripts/sweetalert/css/sweetalert2.min.css">
               
    </head>
    <body>

          <script src="scripts/jquery.min.js"></script>
          <script src="scripts/angular.min.js"></script>
          <script src="scripts/angular-strap.js"></script>
          <script src="scripts/angular-strap.tpl.js"></script>
          <script src="scripts/angular-messages.js"></script>
          <script src="scripts/angular-resource.js"></script>
          <script src="scripts/angular-route.js"></script>
          <script src="scripts/angular-cookies.js"></script>
          <script src="scripts/moment.min.js"></script>
          <script src="scripts/daterangepicker.js"></script>
        

          <script src="app.js"></script>
          <script src="shared/shareBaseUrl.js"></script>
          <script src="shared/cuberootService.js"></script>          
          <script src="campaign/controller/campaignController.js"></script>
          <script src="campaign/controller/campaignChanelController.js"></script>
          <script src="campaign/factory/campaignFactory.js"></script>
          <script src="campaign/factory/campaignChannelFactory.js"></script>
          <script src="campaign/service/campaignService.js"></script>
          <script src="campaign/service/campaignChannelService.js"></script>
          <script src="login/controller/loginController.js"></script>
          <script src="login/service/loginService.js"></script>
          <script src="campaign/factory/audienceFactory.js"></script>
          <script src="campaign/service/audienceService.js"></script>
        



          <div ng-if="pageActive">
              <nav class="navbar navbar-toggleable-md fixed-top bg-inverse navbar-fixed-top" id="header">
                  <a class="navbar-brand" href="#">
                      <img src="scripts/assets/img/cr_insights-logo.png" alt="_cuberoot" title="Cuberoot" />
                  </a>                  
                  <ul class="nav navbar-nav pull-right" ng-if="currentUser" ng-controller="LoginController">
                      <li class="navbar-text" style="color: white" ng-bind="currentUser"></li>
                      <li>
                          <a href="javascript:void(0)" ng-click="currentUserlogout()">Logout</a>
                      </li>
                  </ul>
              </nav>
              <div class="row">
                      <nav class="col-sm-3 col-md-2 hidden-xs-down sidebar">
                              <ul class="nav nav-pills flex-column">
                                  <li class="nav-item">
                                      <a class="nav-link active" href="#">
                                          <i class="material-icons">dashboard</i>
                                          <span>Overview</span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">
                                          <i class="material-icons">share</i>
                                          <span>Channels</span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">
                                          <i class="material-icons">face</i>
                                          <span>Audience</span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">
                                          <i class="material-icons">group_work</i>
                                          <span>Acquisitions</span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">
                                          <i class="material-icons">swap_horiz</i>
                                          <span>Conversions</span>
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                          <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                              <div ng-view></div>
                          </div>
                  </div>
          </div>

          <div ng-if="!pageActive">
              <div class="navbar navbar-static-top" role="navigation" bs-navbar>
                  <nav class="navbar navbar-toggleable-md fixed-top bg-inverse navbar-fixed-top" id="header">
                      <a class="navbar-brand" href="#">
                          <img src="scripts/assets/img/cr_insights-logo.png" alt="_cuberoot" title="Cuberoot" />
                      </a>
                  </nav>
              </div>
              <div class="col-sm-5 offset-sm-3 col-md-4 offset-md-4 pt-3" style="padding-top: 40px;">
                  <div ng-view></div>
              </div>
          </div>
    </body>
</html>
