<div class="container-fluid">
    <main>
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="dropdown nav navbar-nav">
                        <button class="form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            <span class="pull-left">{{companyObject}}</span>
                            <p class="pull-right"><span class="caret"></span></p>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">                
                            <li role="presentation" ng-repeat="company in companyList" style="cursor: pointer;" ng-click="changeCampaignId(company.campaign_id, company.campaign_name)">{{company.campaign_name}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <input type="text" class="form-control" name="startDate" id="daterange" ng-model="dateSet"/>
                </div>
                <div>
                    <button class="btnApply btnApply-success" type="button" ng-click="setDateRange()">Apply</button>
                </div>
            </div>

            <section class="card content-card heading-card">
                <!-- <p class="pull-right card-title">Campaign Objectvie:
                {{campaignObject}}
                <span class="caret"></span></p> -->
                <ul style="list-style-type: none;">
                    <li class="pull-right pageview-section">
                    <label>Campaign Objectvie: </label> {{campaignObject}}
                    <ul class="pull-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle drop-down-icon-fix" style="background-color: transparent"><b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li ng-repeat="value in campaignObjectList">
                                    <a href="javascript:void(0)" ng-click="campaignObjectFitler(value.dropdown)">{{value.dropdown}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                </ul>
                <p class=" card-title">Campaign Performance</p>
                
            </section>


            <div>
                <div class="card content-card">
                   <cr-campaign-performance-first-section-dir></cr-campaign-performance-first-section-dir>
                </div>
                <div class="card content-card">
                   <cr-campaign-performance-secand-section-dir></cr-campaign-performance-secand-section-dir>
                </div>
            </div>

            <section class="card content-card heading-card">
                <p class="card-title">Channel Performance</p>
            </section>
            <div>
                <div class="card content-card">
                   <cr-channel-performance-dir></cr-channel-performance-dir>
                </div>
            </div>

            <div>
                <section class="card content-card heading-card">
                    <p class="card-title">Audience Interest Segment</p>
                </section>
                <div class="card content-card">
                     <cr-audience-interest-dir></cr-audience-interest-dir>
                </div>
            </div>
            
            <div>
                <section class="card content-card heading-card">
                    <p class="card-title">Audience Profile</p>
                </section>
                <div class="card content-card">
                   <cr-audience-profile-dir></cr-audience-profile-dir>
                </div>
            </div>

            <div>
                <section class="card content-card heading-card">
                    <p class="card-title">Loactionwise Campaign Performance</p>
                </section>
                <div class="card content-card">
                   <cr-location-driving-traffic-dir></cr-location-driving-traffic-dir>
                </div>
            </div>
            
            <div>
                <section class="card content-card heading-card">
                    <p class="card-title">Campaign Performance Device and Brand</p>
                </section>
                <div class="card content-card">
                    <cr-device-and-brand-dir></cr-device-and-brand-dir>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript">
   $(function() {
        $('#daterange').daterangepicker({ dateFormat: 'dd-mm-yy' }).val();
    });
</script>